:root{

  --VeryDarkGray:hsl(0, 0%, 17%);
  --DarkGray: hsl(0, 0%, 59%);
  --white: hsl(0, 0%, 100%); 

  --Fontsizetextinput: 1.13rem;
}

html{
   box-sizing: border-box;
   font-size: 100%;
}

*,*::before,*::after{
   box-sizing: inherit;
   padding: 0;
   margin: 0;
}

body{
   line-height: 1.1;
   font-family: 'Rubik', sans-serif;
}

.headerlook{
   display: flex;
   flex-direction: column;
   align-items: center;
   /* justify-content: center; */
   height: 19rem;
   background-image: url(images/pattern-bg.png);
   background-size: cover;
   z-index: -1;
}
.headerlook h1{
   color: var(--white);
   margin: 33px 0;
}

.ipaddrInput{
   position: relative;
   overflow: hidden;
   
  
}

.ipaddrInput input[type=text]{
   height: 3.5rem;
   min-width: 20.4rem;
   border: none;
   border-radius: 20px;
   padding: 22px 20px 25px 20px;
   color: black;
   font-size: 0.95rem;
   font-weight: 500;
   
   z-index: 1;

}
.ipaddrInput input[type=text]:focus{
   outline: none;
}

.ipaddrInput::before{
   background-image: url(images/icon-arrow.svg);
   background-repeat: no-repeat;
   background-position: 50% center;
   position: absolute;
   content:'';
   top: 0;
   right: 0;
   width: 3.5rem;
   height: 3.6rem;
   background-color: #000000;
   border: none;
   border-radius: 0 20px 20px 0;
   z-index: 2;
  
}
.clickspan{
   background-position: 50% center;
   position: absolute;
   top: 0;
   right: 0;
   border: none;
   border-radius: 0 20px 20px 0;
   z-index: 3;
   width: 3.5rem;
   height: 3.6rem;
   /* background-color: blue; */
}
#mapview{
   height: 33rem;
   z-index: 1;
}

.ipaddrLocationDetails{
position: absolute;
background-color: var(--white);
min-width: 20.4rem;
border-radius: 20px;
padding: 1.6rem 4.3rem;
top: 11.6rem;
left: 50%;
transform: translate(-50%);
z-index: 2;

/* inner decor */
display: flex;
flex-direction: column;
align-content:space-around;
justify-content: center;
text-align: center;
}

.ipaddrLocationDetails h4{
   color: var(--DarkGray);
   font-size: 0.85rem;
   text-transform: uppercase;
   margin-bottom: 1rem;
}
.ipaddrLocationDetails p{
   color: black;
   font-size: 1.4rem;
   margin-bottom: 1.8rem;
   font-weight: 700;
}

.attribution { 
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: nowrap;
   /* justify-items: center; */
   background-image: url(images/pattern-bg.png);
   background-size: cover;
   height: 2rem;
   font-size: 0.9rem; 
   /* padding: 70px 0; */
   /* text-align: center;  */
}
.attribution a {
    color: var(--VeryDarkGray);
    text-decoration: none;
    margin: 2px;
    }

/* media queries */
@media only screen and (min-width: 62.5rem){

   .headerlook h1{
       margin: 36px 0;
   }
   .ipaddrInput input[type=text]{
       width: 34.8rem;
       font-size: 1rem;
       font-weight: 500;
   }

   .ipaddrLocationDetails{
       flex-direction: row;
       padding: 2.6rem 2rem;
       text-align: start;
       top: 14.3rem;
   }

   .ip{

       padding: 0 2.1rem;
   

   }

   .location{
       padding : 0 2.1rem;
       border-left: 1px solid var(--DarkGray) ;
      
   }
   .timezone{
       padding : 0 2.1rem;
       border-left: 1px solid var(--DarkGray) ;
      
   }
.isp{
   padding : 0 2.1rem;
   border-left: 1px solid var(--DarkGray) ;
   
}

   
}